<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="smpc_sales_system.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <smpc_sales_system.Properties.Settings>
            <setting name="SALESPATH" serializeAs="String">
                <value>C:\Users\Public\Documents\SMPC\SALES</value>
            </setting>
            <setting name="AFTERSALESPATH" serializeAs="String">
                <value>C:\Users\Public\Documents\SMPC\AFTERSALES</value>
            </setting>
            <setting name="REPORTPATH" serializeAs="String">
                <value>C:\Users\SMPC\source\repos\smpc_sales_system\smpc_sales_system2\smpc_sales_system\Reports</value>
            </setting>
        </smpc_sales_system.Properties.Settings>
    </applicationSettings>
</configuration>